<main>
    <div class="display-style">
        <h1>Unisex</h1>
        <div class="item">
            <img src="../../assets/images/balanciaga.jpg" alt="Balanciaga">

            <h4>Balanciaga</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">999.99</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>
        
        <div class="item">
            <img src="../../assets/images/hermes.webp" alt="Hermes">
            <h4>Hermes</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">499.99</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <div class="item">
            <img src="../../assets/images/tom-ford.jpg" alt="Tom Ford">
            <h4>Tom Ford</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">990.00</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <div class="item">
            <img src="../../assets/images/catiba-catiba-pro-off-white-sneaker.webp" alt="Catiba Pro Skate">
            <h4>Catiba Pro Skate</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">85.99</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <h1>Women Section</h1>
        <div class="item">
            <img src="../../assets/images/convers-chuck.webp" alt="Convers chuck taylor all star (low-top)">
            <h4>Convers Chuck Taylor All Star (low-top)</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">49.99</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <div class="item">
            <img src="../../assets/images/whitesneakers.jpg" alt="Greats the Royale">
            <h4>Greats The Royale</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">77.00</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <div class="item">
            <img src="../../assets/images/nike-are-1.webp" alt="Nike Air Force 1 Low">
            <h4>Nike Air Force 1 Low</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">99.99</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

        <div class="item">
            <img src="../../assets/images/luxury-sneakers.jpg" alt="Luxury">
            <h4>Luxury</h4><br>

            <label class="adjust-margin">Qty:</label>
            <input type="number" name="quantity"/>

            <label>Price: $</label>
            <span class="set-width">746.00</span>

            <button class="adjust-margin">Add to cart</button>
            <button>Buy now</button>
        </div>

    </div>
</main>
